<h1>Home page</h1>
<form method="post" action="">
  <label id="question"></label>
  <input type="submit" name="yes" value="yes"/>
  <input type="submit" name="no" value="no" />
</form>

<script>
  $.ajax({
    type  : 'get',
    url   : '/api/question/'
  }).done((data) => {
    $("#question").html(data.question);
    $("form").attr("action", "/api/question/" + data.id);
  }).fail((err) => {
    console.error(err);
  });
</script>
